body{
  margin: 0;
  padding: 0;
  background-color: blueviolet;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  background-color: pink;
  padding: 10px;
}

main{
  background-color: rgb(239, 68, 68);
  padding: 10px;
  flex-grow: 1;
}

footer{
  background-color: rgb(255, 255, 101);
  padding: 10px;
}